body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
}

h1 {
  text-align: center;
  color: #333;
  margin: 20px 0;
}
#search-container {
  text-align: center;
  margin-bottom: 20px;
}
